openapi: 3.0.0
info:
  version: 1.1.0
  title: Fusion
  contact:
    email: tadeas@runonflux.io
    url: "https://docs.fusion.runonflux.io"
  license:
    name: UNLICENSED
  description: >-
    This is an API documentation for Fusion mainly used in zelcore.
    Calls can additionally provide zelid header where zelid is zelcores ZelID or any bitcoin
    user address.
    Currently supported chains are: Main chain, Ethereum (ETH) chain, Binance Smart Chain (BSC) chain, Tron (TRX), Solana (SOL) and Kadena (KDA) chain where fusion operates on chain ID 0.
externalDocs:
  description: Fusion
  url: "https://github.com/zelcore-io/fusion"
tags:
  - name: General
    description: >-
      Calls that are used for overall information about Fusion
  - name: Snapshot
    description: >-
      Calls for interacting with Fusion snapshots and snapshot claming
  - name: Coinbase
    description: >-
      Calls for interacting with Flux coinbase and Fusion coinbase claiming (mining rewards)
  - name: Swap
    description: >-
      Interaction with Swapping Flux between its chains using Fusion
servers:
  - url: "https://fusion.runonflux.io"
  - url: "https://testfusion.runonflux.io"
paths:
  /fees:
    get:
      tags:
        - General
      summary: Fees tied with using Fusion services
      description: >-
        Apart from its main chain, Flux is present also as a token on multiple other chains. Doing on chain transactions comes
        with a cost of using gas - native coin on those chains. Fusion is charging those fees from end user to remain sustainable
        in the form of sending less Flux than is user allowance. Each section has its flat fee, additionally a percentage fee may be applied.
      operationId: fusionfees
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: object
                    description: Fees information for Fusion services
                    properties:
                      snapshot:
                        type: object
                        description: Fees tied with claiming snapshot
                        properties:
                          percentage:
                            type: number
                            description: >-
                              Percentage fee from amount. Percentage fee is in absolute value.
                              To get the percentage fee substracted, multiply percentage with user amount
                              and round up to higher value.
                          kda:
                            type: number
                            description: >-
                              Flat Flux-KDA fee for claiming snapshot on KDA chain.
                              User will receive this amount of Flux-KDA less.
                          eth:
                            type: number
                            description: >-
                              Flat Flux-ETH fee for claiming snapshot on ETH chain.
                              User will receive this amount of Flux-ETH less.
                          bsc:
                            type: number
                            description: >-
                              Flat Flux-BSC fee for claiming snapshot on BSC chain.
                              User will receive this amount of Flux-BSC less.
                          trx:
                            type: number
                            description: >-
                              Flat Flux-TRX fee for claiming snapshot on TRX chain.
                              User will receive this amount of Flux-TRX less.
                          sol:
                            type: number
                            description: >-
                              Flat Flux-SOL fee for claiming snapshot on SOL chain.
                              User will receive this amount of Flux-SOL less.
                      mining:
                        type: object
                        description: >-
                          Percentage fee from amount. Percentage fee is in absolute value.
                          To get the percentage fee substracted, multiply percentage with user amount
                          and round up to higher value.
                        properties:
                          percentage:
                            type: number
                            description: >-
                              Percentage fee from amount. Users claimable amount will
                              firstly be substracted of this amount of percent. Rounded to
                              higher amount.
                          kda:
                            type: number
                            description: >-
                              Flat Flux-KDA fee for claiming coinbase on KDA chain.
                              User will receive this amount of Flux-KDA less.
                          eth:
                            type: number
                            description: >-
                              Flat Flux-ETH fee for claiming coinbase on ETH chain.
                              User will receive this amount of Flux-ETH less.
                          bsc:
                            type: number
                            description: >-
                              Flat Flux-BSC fee for claiming coinbase on BSC chain.
                              User will receive this amount of Flux-BSC less.
                          trx:
                            type: number
                            description: >-
                              Flat Flux-TRX fee for claiming coinbase on TRX chain.
                              User will receive this amount of Flux-TRX less.
                          sol:
                            type: number
                            description: >-
                              Flat Flux-SOL fee for claiming coinbase on SOL chain.
                              User will receive this amount of Flux-SOL less.
                      swap:
                        type: object
                        description: >-
                          Fees tied with swapping Flux between chains. Receiving (TO) asset is 
                          substracted for the amount. In case of swap from BSC chain to ETH chain,
                          use eth fee as Fusion is sending Flux-ETH and pays Ethereum network fee which is
                          beared by end user by sending less Flux.
                        properties:
                          percentage:
                            type: number
                            description: >-
                              Percentage fee from amount. Percentage fee is in absolute value.
                              To get the percentage fee substracted, multiply percentage with user 
                              sent amount and round up to higher value.
                          kda:
                            type: number
                            description: >-
                              Flat Flux-KDA fee for swapping to KDA chain.
                              User will receive this amount of Flux-KDA less.
                          eth:
                            type: number
                            description: >-
                              Flat Flux-ETH fee for swapping to ETH chain.
                              User will receive this amount of Flux-ETH less.
                          bsc:
                            type: number
                            description: >-
                              Flat Flux-BSC fee for swapping to BSC chain.
                              User will receive this amount of Flux-BSC less.
                          trx:
                            type: number
                            description: >-
                              Flat Flux-TRX fee for swapping to TRX chain.
                              User will receive this amount of Flux-TRX less.
                          sol:
                            type: number
                            description: >-
                              Flat Flux-SOL fee for swapping to SOL chain.
                              User will receive this amount of Flux-SOL less.
                          main:
                            type: number
                            description: >-
                              Flat Flux fee for swapping to Main chain.
                              User will receive this amount of Flux less.
              example:
                status: success
                data:
                  snapshot:
                    percentage: 0
                    kda: 1
                    bsc: 2
                    eth: 13
                    trx: 3
                    sol: 2
                  mining:
                    percentage: 0
                    kda: 2
                    bsc: 2
                    eth: 11
                    trx: 3
                    sol: 2
                  swap:
                    percentage: 0.001
                    main: 0.5
                    kda: 0.5
                    bsc: 1.5
                    eth: 9
                    trx: 2.5
                    sol: 1.5
  /messagephrase:
    get:
      tags:
        - General
      summary: Obtain message phrase for authentication purposes
      description: >-
        Message phrase is used for authentication purposes. This phrase is used for verifying
        ownership of an address. Useful for coinbase and snapshot claiming. Phrase is valid for 15 minutes
        and can only be used once.
      operationId: messagephrase
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: string
                    description: >-
                      A message phrase that shall be signed by claiming address
              example:
                status: success
                data: 1630312899557vx5gmvwvc7d94fz12rhilfzvpgebicf6oatkf8c5paos
  /snapshots/stats:
    get:
      tags:
        - Snapshot
      summary: Statistics about snapshot for reward and snapshot chains
      description: >-
        Gives statistics about snapshot given a reward chain and a snapshotted chain.
        Only certain combination of chains are possible in order of which chains were launched.
      operationId: snapshotsstats
      parameters:
        - in: query
          name: rewardchain
          required: true
          schema:
            type: string
          description: Chain on which reward will be claimed
          example: trx
        - in: query
          name: snapshotchain
          required: true
          schema:
            type: string
          description: Chain that was snapshotted
          example: bsc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: object
                    description: Coinbase general information statistics
                    properties:
                      total:
                        type: number
                        description: >-
                          Total snapshot records present in database. This many addresses were snapshotted on a snapshot blockheight.
                      totalClaimPossible:
                        type: number
                        description: >-
                          Addresses that are eligible to claim a snapshot. Lower number than total snapshotted addresses is caused
                          by associated Fusion fees for a snapshot claim such as blockchain network fees.
                      totalClaimed:
                        type: number
                        description: >-
                          Amount of adresses that already claimed snapshot on the reward chain.
                      totalSatoshis:
                        type: number
                        description: >-
                          Amount of satoshis (basic unit of Flux. 1 FLUX = 1e8 satoshis) that was totally snapshotted. At a given blockheight
                          of snapshot, this many satoshis were in circulation on the snapshotted chain.
                      totalFunds:
                        type: number
                        description: >-
                          Amount of Flux that was totally snapshotted. At a given blockheight
                          of snapshot, this many Flux was in circulation on the snapshotted chain.
                      totalFundsClaimable:
                        type: number
                        description: >-
                          Amount of Flux that is claimable on reward chain from this snapshot that will be totally distributed.
                      totalFundsClaimed:
                        type: number
                        description: >-
                          Amount of Flux that was already claimed on reward chain from this snapshot.
                      totalFeesPaid:
                        type: number
                        description: >-
                          Claiming snapshot is associated with fees to pay for gas on particular chain. totalFeesPaid is amount of Flux
                          that user indirectly paid for claiming the snapshot by receiving little less. The fees go to Flux Foundation for Fusion operation.
              example:
                status: success
                data:
                  total: 5522
                  totalClaimPossible: 1073
                  totalClaimed: 517
                  totalSatoshis: 728738706660070
                  totalFunds: 7287387.0666007
                  totalFundsClaimable: 482860.16345812
                  totalFundsClaimed: 438994.7987284
                  totalFeesPaid: 1972
  /snapshots/info:
    get:
      tags:
        - Snapshot
      summary: Get information about particular snapshot record
      description: >-
        Snapshot record gives accurate information about specific snapshot record of both unclaimed or claimedAddress.
        Must be searched by chains and one of: snapshotted address, claiming address or claimed transaction.
      operationId: snapshotsinfo
      parameters:
        - in: query
          name: rewardchain
          required: true
          schema:
            type: string
          description: Chain on which reward will be claimed
          example: eth
        - in: query
          name: snapshotchain
          required: true
          schema:
            type: string
          description: Chain that was snapshotted
          example: main
        - in: query
          name: address
          required: false
          schema:
            type: string
          description: Address that got snapshotted
          example: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
        - in: query
          name: claimedaddress
          required: false
          schema:
            type: string
          description: Address that claimed snapshot
          example: "0x316594e7f55865e27a3abc69cddf0b404b34f3b2"
        - in: query
          name: txid
          required: false
          schema:
            type: string
          description: Transaction ID of claimed snapshot
          example: "0x72d3a409ea54ea11b1ba4166bbad90ebf092a46d0d743b8c950f2d86694778f6"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: object
                    description: Summary of snapshot record
                    properties:
                      address:
                        type: string
                        description: >-
                          Snapshotted address belonging to record
                      satoshis:
                        type: number
                        description: >-
                          Total snapshotted amount in satoshis.
                      amount:
                        type: number
                        description: >-
                          Total snapshotted amount in full Flux units.
                      claimableAmount:
                        type: number
                        description: >-
                          Amount that is claimable on reward chain in full Flux units.
                      claimedAddress:
                        type: string
                        description: >-
                          Address on reward chain that claimed the snapshot. Can be missing if record is unclaimed.
                      message:
                        type: string
                        description: >-
                          Message used for verifying ownership of snapshotted address. Can be missing if record is unclaimed.
                      signature:
                        type: string
                        description: >-
                          Signature of a message signed by snapshotted address. Can be missing if record is unclaimed.
                      txid:
                        type: string
                        description: >-
                          Transaction ID of funds being sent from Fusion to claimed address. Can be missing if record is unclaimed.
                      fee:
                        type: number
                        description: >-
                          Fee that claiming of a snapshot is associated with. For this amount user received less Flux. Can be missing if record is unclaimed.
              example:
                status: success
                data:
                  address: t1Rp4xDWFCTGfxXKrayDU83tX7HV91nZ7By
                  satoshis: 1000562500000
                  amount: 10005.625
                  claimableAmount: 662.96982428
                  claimedAddress: HQDBXLyZHYRs34cfyYSqUjgg2i9KWwckaqcE8iakLLiu
                  fee: 3
                  message: 16406467156959e6nd05ek0jj42r1ugvbp0uli9zsp3j2pg2y4965v105
                  signature: H/YLCh6MgoTpmOIQUWZOZwOpWhDLkZ1r0LrEIaAdCvVuYwj3B42hFcsl16Yu6zwociBEXhZuI8TemAEd15qrL8A=
                  txid: 3nJVVJXGw3XHHgucEXUE71mriPJXLddBoPHfAGzaCdGJaFXTeFygzCuDBJt2voNPQjSYj82fEHGHBZWmAairCU1U
  /snapshots/available:
    post:
      tags:
        - Snapshot
      summary: Checks available snapshots for addresses
      description: >-
        Gets Fusion snapshots summary for given Flux addresses. Snapshot information will be given
        on all possible rewards chains for a given snapshot address and snapshotted chain.
      operationId: snapshotsavailable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                addresses:
                  type: array
                  description: An array of adresses information
                  items:
                    type: object
                    description: Object specifying address and chain
                    properties:
                      chain:
                        type: string
                        description: Chain on which to look for snapshotted address summary.
                      address:
                        type: string
                        description: Address for which to look for snapshot summary.
            example:
              addressses:
                - chain: main
                  address: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
                - chain: main
                  address: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
                - chain: kda
                  address: e9fe1ef98e46283a153d4af1f5d68bcfa94b882579a053c3f0dd9272c05aa4d8
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: array
                    description: Summary of snapshots for a given array of addresses
                    items:
                      type: object
                      description: Summary of snapshot for a given address
                      properties:
                        address:
                          type: string
                          description: >-
                            Given address
                        satoshis:
                          type: number
                          description: >-
                            Snapshotted amount in satoshis.
                        amount:
                          type: number
                          description: >-
                            Snapshotted amount in Flux units.
                        claimableAmount:
                          type: number
                          description: >-
                            Amount in Flux that is claimable on reward chain.
                        chain:
                          type: string
                          description: >-
                            Chain on which reward is claimable
                        snapshot:
                          type: string
                          description: >-
                            Chain to which address is associated with and that was snapshotted.
                        claimedAddress:
                          type: string
                          description: >-
                            Address that claimed the snapshot on a chain. Can be missing if snapshot is unclaimed.
                        message:
                          type: string
                          description: >-
                            Message that was used for verifying ownership of snapshotted address.
                        signature:
                          type: string
                          description: >-
                            Signature that belong to the message signed by snapshotted address.
                        txid:
                          type: string
                          description: >-
                            Transaction ID of snapshot reward being sent to claimedAddress.
                        fee:
                          type: number
                          description: >-
                            Fees that were paid for receiving Flux on the reward chain.
              example:
                status: success
                data:
                  - address: t1J7WrTnM4tWr5mSjxVNECxKrMmQzggNqJy
                    satoshis: 1106175894743
                    amount: 11061.75894743
                    claimableAmount: 907.71079906
                    claimedAddress: "0x9b1c6ed51fc47ee8bc0f41031eff03aeb131e3a8"
                    fee: 39
                    message: 1639777017030h9xh3i9xx5p84196ke50qgq6v6slunsbzusjmv2vyso
                    signature: HzkZdfeT/ILAETAmql+gsiN+5g0KSWn1k3n2RlEPBv9HTXt5vGozHz5ttAQ33x39AiOgpaRti8lYMZNRnSM0+IA=
                    txid: "0xc73c6749a389c83836129c859f7f0d6647967d780f3fee48ec45fdf1cd8d1ab7"
                    chain: main
                    snapshot: eth
                  - address: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
                    satoshis: 1000000000000
                    amount: 10000
                    claimableAmount: 820.58450503
                    claimedAddress: "0x316594e7f55865e27a3abc69cddf0b404b34f3b2"
                    fee: 50
                    message: 1624179303519xx4k3l8xipdvvw0k6ivx6zd12eln5917fdpkv5pec2
                    signature: H1pyj6PJP5e0m9N1JeCp8hSieDlVkFQ0zytKP+AqVS9jKsaGnOB9VA6HnZxedkX/uKXiUY58koQ4NomOMZCY99Q=
                    txid: "0x089c21ee0a5307b6d5aae7d554b3b757c5e54ddba3ca9b5b3c11f70c8fb2e1f6"
                    chain: main
                    snapshot: eth
                  - address: t1J7WrTnM4tWr5mSjxVNECxKrMmQzggNqJy
                    satoshis: 1106175894743
                    amount: 11061.75894743
                    claimableAmount: 907.71079906
                    claimedAddress: "0x9b1c6ed51fc47ee8bc0f41031eff03aeb131e3a8"
                    fee: 2
                    message: 1639777072102jiug2ldpp9jeh12asmpwkbjheyk4t80p8lfa9atgpad
                    signature: H/LCW2JU87pXt12sS0gAXgiorVr/yDepFbkNRfhXAtcMLbUjGC9GI51yIX9pp8TjhHIdQ3tnHSZ7UAXC0V2+9/I=
                    txid: "0x02ad5a46ead8fe67bb21434116259ac09e3d54f1ee86aed6ebf286d8663030a7"
                    chain: main
                    snapshot: bsc
                  - address: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
                    satoshis: 1000000000000
                    amount: 10000
                    claimableAmount: 820.58450503
                    claimedAddress: "0x316594e7f55865e27a3abc69cddf0b404b34f3b2"
                    fee: 5
                    message: 16241430643672o36nc8hzhqe5b09f92znfto7tz17tqcn8nzw5v5ads6
                    signature: IEsXaAFCGQ7lVbuRqPyD8AJAotqOhXCeYORfBUfJ3nI7LOGVv3QgX1jXoNpwu6LYgsW68FNRivENPm+DN0aWS6Y=
                    txid: "0x55cb17a877a7c85bdbe3b97fa3d2abec088ed297d680af6410eedb7f6b899650"
                    chain: main
                    snapshot: bsc
                  - address: t1J7WrTnM4tWr5mSjxVNECxKrMmQzggNqJy
                    satoshis: 1888954204820
                    amount: 18889.5420482
                    claimableAmount: 1251.61560346
                    claimedAddress: "TQ7MoM8ss7a3xWK5gWzQhoHCCxZ1Nt4jZ6"
                    fee: 4
                    message: 1639776623443q4fpg3icp7jt5xp1sn4ez81un04dumg3yphx9ikm
                    signature: H+o5KiHl4FZXcEfemWzEEBNLxhEImtAiRUx3lH0rxG/sZcx3bXxcGXqMbnycHDVZaYGdvQb8V4XTCTnWEbb6Kis=
                    txid: "44772cdbd92961b9c98ec4b3954796c51081fb299ed9156a5f7d387504af9109"
                    chain: main
                    snapshot: trx
                  - address: t1J7WrTnM4tWr5mSjxVNECxKrMmQzggNqJy
                    satoshis: 1888954204820
                    amount: 18889.5420482
                    claimableAmount: 1251.61560346
                    claimedAddress: "8kmnZyrakbRJcy8WuwStiNKeHpDNDdDiN7KPAAeK3c4r"
                    fee: 3
                    message: 16404927637624pe3ro2t0unk7iv3yywok9hfuiph0gwzm1y8woj1ol8l
                    signature: IJ3r2cshRRr2QS0uL1CntCdfeHX0U5yLFsSpsnkDFmSufE0dZxUuTJykcqlO2kJGX9E1ig88Agdfvws8xp2jDoE=
                    txid: "5B6nmuRMVUtLv1eDTU5BpWwRGdW7uskujCkdRR6Qo88dB3rryFmJicdmYAWBv53KuwozzskqBoMkgsGgssNo1Yvh"
                    chain: main
                    snapshot: sol
                  - address: e9fe1ef98e46283a153d4af1f5d68bcfa94b882579a053c3f0dd9272c05aa4d8
                    satoshis: 50000176321
                    amount: 500.00176321
                    claimableAmount: 41.02936994
                    chain: kda
                    snapshot: eth
                  - address: e9fe1ef98e46283a153d4af1f5d68bcfa94b882579a053c3f0dd9272c05aa4d8
                    satoshis: 50000176321
                    amount: 500.00176321
                    claimableAmount: 41.02936994
                    claimedAddress: "0x53955d4a5fc54cfce08b04db6719544798e175b9"
                    fee: 7
                    message: 16266016563231vo1q6tkggpl85sf11tzgce20h8xh2ogua2rdea3i5vd
                    signature: UBqz+fZCFK4xeYCRHW+JHftK1XqLm4VAeOXOUcHDbMfr+10322lLEjoXdOSPi7GGDjFa1Rd0j0ZRRjoJpPWACQ==
                    txid: "0xc3f425da3fed99d1969103d5cc1e350f49dfe30d034417de59f1566177d7f2fd"
                    chain: kda
                    snapshot: bsc
  /coinbase/stats:
    get:
      tags:
        - Coinbase
      summary: Statistics about coinbase and claiming process
      description: >-
        Coinbase claiming is possible since Flux fork on 27th March 2021. From blockheight 825001
        all receivers of newly minted coins are eligible for additional 10% of mined coins on other parallel chains
        even if they have not launched yet.
      operationId: coinbasestats
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: object
                    description: Coinbase general information statistics
                    properties:
                      total:
                        type: number
                        description: >-
                          Total coinbase records present in database. A block usually has a reward for
                          mining pool, cumulus, nimbus, stratus node rewards. Thus this number is at least 4 times
                          higher than amount of blocks passed since fork.
                      totalClaimed:
                        type: number
                        description: >-
                          Amount of successful coinbase claiming records together on all chains
                      totalSatoshis:
                        type: number
                        description: >-
                          Amount of satoshis (basic unit of Flux. 1 FLUX = 1e8 satoshis) that was present in coinbase transactions
                      totalFunds:
                        type: number
                        description: >-
                          Amount of Flux that was present in coinbase transactions
                      totalFundsClaimable:
                        type: number
                        description: >-
                          Amount of Flux that is claimable on all chains. Flux has main chain and will have 10 parallel chains. 
                          Each chain is eligible for 10% of coinbase reward, bringing this number to be equal to totalFuns.
                      totalFundsClaimed:
                        type: number
                        description: >-
                          Amount of Flux that was already claimed on parallel chains.
                      totalFundsClaimablePerChain:
                        type: number
                        description: >-
                          Amount of Flux that is claimable on one particular chain. Shall equal to 10% of totalFundsClaimable.
                      totalFeesPaid:
                        type: number
                        description: >-
                          Claiming coinbase is associated with fees to pay for gas on particular chains. totalFeesPaid is amount of Flux
                          that user indirectly paid for claiming by receiving little less. The fees go to Flux Foundation for Fusion operation.
              example:
                status: success
                data:
                  total: 1001919
                  totalClaimed: 11685
                  totalSatoshis: 2584185570380244
                  totalFunds: 25841855.70380244
                  totalFundsClaimable: 25841855.70380244
                  totalFundsClaimed: 7607576.62356944
                  totalFundsClaimablePerChain: 2584185.57038024
                  totalFeesPaid: 116613
                  kdaFeesPaid: 10617
                  ethFeesPaid: 71456
                  bscFeesPaid: 22860
                  trxFeesPaid: 7167
                  solFeesPaid: 4513
  /coinbase/summary:
    get:
      tags:
        - Coinbase
      summary: Summary of Flux address for coinbase
      description: >-
        Displays summary of given Flux address of Fusion coinbase statistics. Node operators can claim without a need for whitelist, miners and pools have to be whitelisted first.
      operationId: coinbasesummaryaddress
      parameters:
        - in: query
          name: address
          required: true
          schema:
            type: string
          description: Flux main chain address
          example: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: object
                    description: Summary of coinbase for a given address
                    properties:
                      address:
                        type: string
                        description: >-
                          Given main chain address
                      satoshis:
                        type: number
                        description: >-
                          Total received coinbase amount. Mined or node rewards coins on main chain in satoshis
                      amount:
                        type: number
                        description: >-
                          Total received coinbase amount. Mined or node rewards coins on main chain in Flux units.
                      numberOfTxs:
                        type: number
                        description: >-
                          Number of coinbase transactions - mined blocks and node rewards blocks.
                      isMiner:
                        type: boolean
                        description: >-
                          If an address is a miner or a flux node address. Mining addresses have to be whitelisted first
                          before being able to claim rewards. Specially designed for pools that have to show proof of distributing
                          the rewards to actual miners. Node operators can claim without a need for whitelist
                      maxClaimablePerChain:
                        type: number
                        description: >-
                          Amount of Flux that can be claimed on one particular chain of Flux.
                      maxClaimableTotal:
                        type: number
                        description: >-
                          Amount of Flux that can be claimed on all currently launched chains.
                      claimedTotal:
                        type: number
                        description: >-
                          Total claimed Flux on all chains
                      chainStatistics:
                        type: array
                        description: >-
                          Statistics of each chain for a given address
                        items:
                          type: object
                          properties:
                            chain:
                              type: string
                              description: Chain that object refers to
                            claimedAmount:
                              type: number
                              description: Amount of Flux that was claimed on the chain
                            receivedAmount:
                              type: number
                              description: Amount of Flux that was received on the chain
                            feesPaid:
                              type: number
                              description: Fees that were paid for receiving Flux on the chain
                            possibleToClaim:
                              type: number
                              description: Amount of Flux that can be claimed on the chain now.
              example:
                status: success
                data:
                  address: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
                  satoshis: 102750000000
                  amount: 1027.5
                  numberOfTxs: 136
                  isMiner: false
                  maxClaimablePerChain: 102.75
                  maxClaimableTotal: 308.25
                  claimedTotal: 199.875
                  chainStatistics:
                    - chain: kda
                      claimedAmount: 99.9375
                      receivedAmount: 94.9375
                      feesPaid: 5
                      possibleToClaim: 2.8125
                    - chain: eth
                      claimedAmount: 0
                      receivedAmount: 0
                      feesPaid: 0
                      possibleToClaim: 102.75
                    - chain: bsc
                      claimedAmount: 99.9375
                      receivedAmount: 88.9375
                      feesPaid: 11
                      possibleToClaim: 2.8125
                    - chain: trx
                      claimedAmount: 0
                      receivedAmount: 0
                      feesPaid: 0
                      possibleToClaim: 102.75
                    - chain: sol
                      claimedAmount: 0
                      receivedAmount: 0
                      feesPaid: 0
                      possibleToClaim: 102.75
  /coinbase/records:
    get:
      tags:
        - Coinbase
      summary: Statistics and coinbase records
      description: >-
        Statistics and recorded coinbase (mining) records for given address
      operationId: coinbaserecordsaddress
      parameters:
        - in: query
          name: address
          required: true
          schema:
            type: string
          description: Flux main chain address
          example: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: object
                    description: Statistics and coinbase records
                    properties:
                      address:
                        type: string
                        description: >-
                          Given main chain address
                      satoshis:
                        type: number
                        description: >-
                          Total received coinbase amount. Mined or node rewards coins on main chain in satoshis
                      amount:
                        type: number
                        description: >-
                          Total received coinbase amount. Mined or node rewards coins on main chain in Flux units.
                      numberOfTxs:
                        type: number
                        description: >-
                          Number of coinbase transactions - mined blocks and node rewards blocks.
                      transactions:
                        type: array
                        description: >-
                          Coinbase records
                        items:
                          type: object
                          properties:
                            txid:
                              type: string
                              description: Transaction ID of coinbase record
                            vout:
                              type: number
                              description: Vout index of coinbase record
                            height:
                              type: number
                              description: Blockhegith of coinbase record
                            address:
                              type: string
                              description: Address belonging to the coinbase record - given address
                            satoshis:
                              type: number
                              description: Amount of Flux in the given coinbase record
                            scriptPubKey:
                              type: string
                              description: Script Public Key of given coinbase record
                            coinbase:
                              type: boolean
                              description: If given record is a coinbase or not. Shall be true.
              example:
                status: success
                data:
                  address: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
                  satoshis: 1125000000
                  amount: 11.25
                  numberOfTxs: 2
                  transactions:
                    - txid: 1906965a4a47ece290bed0e54724b39d8d7322bae08fd75341b21decf59bbb84
                      vout: 1
                      height: 858244
                      address: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
                      satoshis: 562500000
                      scriptPubKey: 76a9146a2adcbb1a1ada8a48bb28eac2dba382424ec78688ac
                      coinbase: true
                    - txid: cfcf9b61a5a6e21ffeb7ddf367947e333a69214e8d807b311a07f6d7cd210d61
                      vout: 1
                      height: 858649
                      address: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
                      satoshis: 562500000
                      scriptPubKey: 76a9146a2adcbb1a1ada8a48bb28eac2dba382424ec78688ac
                      coinbase: true
  /coinbase/claimed:
    get:
      tags:
        - Coinbase
      summary: Claimed records of coinbase
      description: >-
        Statistics and claimed records of coinbase (mining) for given address
      operationId: coinbaseclaimedaddresschain
      parameters:
        - in: query
          name: address
          required: true
          schema:
            type: string
          description: Flux main chain address
          example: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
        - in: query
          name: chain
          required: false
          schema:
            type: string
          description: Chain on which to search for claimed records
          example: kda
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: object
                    description: Statistics and claimed coinbase records
                    properties:
                      address:
                        type: string
                        description: >-
                          Given main chain address
                      numberOfTxs:
                        type: number
                        description: >-
                          Number of coinbase claimed transactions
                      transactions:
                        type: array
                        description: >-
                          Coinbase records
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                              description: Address belonging to the claimed coinbase record - given address
                            amount:
                              type: number
                              description: Amount of claimed coinbase coins
                            chain:
                              type: string
                              description: Chain on which the amount of coins was claimed
                            txid:
                              type: string
                              description: Transaction ID or Request Key that sent the funds from Fusion to user claimedAddress
                            claimedAddress:
                              type: string
                              description: Address to which coinbase funds were send to
                            message:
                              type: string
                              description: Message phrase that main chain address was signing to proove ownership of the address
                            signature:
                              type: string
                              description: Signature of given message phrase signed by a main chain address
                            fee:
                              type: number
                              description: Fee that user has paid to fasciliate the claiming and transfer. This less coins were sent to claimedAddress.
              example:
                status: success
                data:
                  address: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
                  numberOfTxs: 2
                  transactions:
                    - address: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
                      amount: 99.9375
                      chain: kda
                      txid: RWb1-xiMZbDPBYRkLkuWJA6TsfMothG9lCT0Ezra1Rs
                      claimedAddress: f506abce28bb0d7fc622302c6cb4ede27794b01522cb76c142dbc60e5fc135a7
                      message: 1630141798555l513bv6poyrniq1nezo0kruuu7q86sfnq8e4khef9p4s
                      signature: H0GI9COOvVEYiKJjoFY4gSINH1/+p0K5Ma6qMCtCAE78Qp77CcmV5fPsAYSghN3aMCkepXUnmdiRacQq7TUFrNU=
                      fee: 5
                    - address: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
                      amount: 99.9375
                      chain: bsc
                      txid: "0xdc1ea3f3fb2c788ba88d0b90ff88e613c1ea1fdcd83af53debf41c9b6bb49b69"
                      claimedAddress: "0x316594e7f55865e27a3abc69cddf0b404b34f3b2"
                      message: 1630141888587p0z5ck835iiovp60ij0xg30c0zak6avh2fsp1avytg8
                      signature: INEBIbSd629/rXFy4zC5HQUeNb6eivrGB9XHMNusKoUmNfKioUrun7nwVKA0FcIk0/DK59RVTnXMdJL5amtIK4U=
                      fee: 11
  /coinbase/available:
    post:
      tags:
        - Coinbase
      summary: Checks available coinbase for addresses
      description: Gets Fusion coinbase summary for up to 12 addresses
      operationId: coinbaseavailable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                addresses:
                  type: array
                  description: An array of adresses information
                  items:
                    type: object
                    description: Object specifying address and chain - usually main
                    properties:
                      chain:
                        type: string
                        description: Chain on which to look for coinbase summary. Only 'main' is eligible.
                      address:
                        type: string
                        description: Address for which to look for coinbase summary.
            example:
              addressses:
                - chain: main
                  address: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
                - chain: main
                  address: t1J7WrTnM4tWr5mSjxVNECxKrMmQzggNqJy
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: array
                    description: Summary of coinbase for a given array of addresses
                    items:
                      type: object
                      description: Summary of coinbase for a given address
                      properties:
                        address:
                          type: string
                          description: >-
                            Given main chain address
                        satoshis:
                          type: number
                          description: >-
                            Total received coinbase amount. Mined or node rewards coins on main chain in satoshis
                        amount:
                          type: number
                          description: >-
                            Total received coinbase amount. Mined or node rewards coins on main chain in Flux units.
                        numberOfTxs:
                          type: number
                          description: >-
                            Number of coinbase transactions - mined blocks and node rewards blocks.
                        isMiner:
                          type: boolean
                          description: >-
                            If an address is a miner or a flux node address. Mining addresses have to be whitelisted first
                            before being able to claim rewards. Specially designed for pools that have to show proof of distributing
                            the rewards to actual miners. Node operators can claim without a need for whitelist
                        maxClaimablePerChain:
                          type: number
                          description: >-
                            Amount of Flux that can be claimed on one particular chain of Flux.
                        maxClaimableTotal:
                          type: number
                          description: >-
                            Amount of Flux that can be claimed on all currently launched chains.
                        claimedTotal:
                          type: number
                          description: >-
                            Total claimed Flux on all chains
                        chainStatistics:
                          type: array
                          description: >-
                            Statistics of each chain for a given address
                          items:
                            type: object
                            properties:
                              chain:
                                type: string
                                description: Chain that object refers to
                              claimedAmount:
                                type: number
                                description: Amount of Flux that was claimed on the chain
                              receivedAmount:
                                type: number
                                description: Amount of Flux that was received on the chain
                              feesPaid:
                                type: number
                                description: Fees that were paid for receiving Flux on the chain
                              possibleToClaim:
                                type: number
                                description: Amount of Flux that can be claimed on the chain now.
              example:
                status: success
                data:
                  - address: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
                    satoshis: 102750000000
                    amount: 1027.5
                    numberOfTxs: 136
                    isMiner: false
                    maxClaimablePerChain: 102.75
                    maxClaimableTotal: 308.25
                    claimedTotal: 199.875
                    chainStatistics:
                      - chain: kda
                        claimedAmount: 99.9375
                        receivedAmount: 94.9375
                        feesPaid: 5
                        possibleToClaim: 2.8125
                      - chain: eth
                        claimedAmount: 0
                        receivedAmount: 0
                        feesPaid: 0
                        possibleToClaim: 102.75
                      - chain: bsc
                        claimedAmount: 99.9375
                        receivedAmount: 88.9375
                        feesPaid: 11
                        possibleToClaim: 2.8125
                      - chain: trx
                        claimedAmount: 0
                        receivedAmount: 0
                        feesPaid: 0
                        possibleToClaim: 102.75
                      - chain: sol
                        claimedAmount: 0
                        receivedAmount: 0
                        feesPaid: 0
                        possibleToClaim: 102.75
                  - address: t1J7WrTnM4tWr5mSjxVNECxKrMmQzggNqJy
                    satoshis: 124878326711914
                    amount: 1248783.26711914
                    numberOfTxs: 33933
                    isMiner: true
                    maxClaimablePerChain: 124878.32671191
                    maxClaimableTotal: 374634.98013573
                    claimedTotal: 0
                    chainStatistics:
                      - chain: kda
                        claimedAmount: 0
                        receivedAmount: 0
                        feesPaid: 5
                        possibleToClaim: 124878.32671191
                      - chain: eth
                        claimedAmount: 0
                        receivedAmount: 0
                        feesPaid: 0
                        possibleToClaim: 124878.32671191
                      - chain: bsc
                        claimedAmount: 0
                        receivedAmount: 0
                        feesPaid: 0
                        possibleToClaim: 124878.32671191
                      - chain: trx
                        claimedAmount: 0
                        receivedAmount: 0
                        feesPaid: 0
                        possibleToClaim: 124878.32671191
                      - chain: sol
                        claimedAmount: 0
                        receivedAmount: 0
                        feesPaid: 0
                        possibleToClaim: 124878.32671191
  /coinbase/claim:
    post:
      tags:
        - Coinbase
      summary: Claim coinbase rewards
      description: Claim coinbase (mining) rewards for a given address on a given chain
      operationId: coinbaseclaim
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chain:
                  type: string
                  description: Chain on which to claim rewards. Available options are eth, kda, bsc
                address:
                  type: string
                  description: Main chain address for which to claim rewards
                claimingAddress:
                  type: string
                  description: Address (account) on the claiming chain to which rewards will be sent.
                message:
                  type: string
                  description: Obtained message phrase that address was signing
                signature:
                  type: string
                  description: Signature of message signed my address.
            example:
              address: t1TYxynkJE12avxWfd46haSrFEXZN8vMKjU
              chain: bsc
              claimingAddress: "0x316594e7f55865e27a3abc69cddf0b404b34f3b2"
              message: 1630141888587p0z5ck835iiovp60ij0xg30c0zak6avh2fsp1avytg8
              signature: INEBIbSd629/rXFy4zC5HQUeNb6eivrGB9XHMNusKoUmNfKioUrun7nwVKA0FcIk0/DK59RVTnXMdJL5amtIK4U=
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: string
                    description: Transaction ID of coinbase claim
              example:
                status: success
                data: "0xdc1ea3f3fb2c788ba88d0b90ff88e613c1ea1fdcd83af53debf41c9b6bb49b69"
  /swap/activechains:
    get:
      tags:
        - Swap
      summary: Active chains for Flux Fusion Swap
      description: >-
        Flux operates on multiple chains and Fusion allows swapping between them. From time to time due to maintenance, some chains may not be available.
        This call provides all chains of Flux available for swap. Current options: "main" - Flux main chain, "kda" - FLUX-KDA, "eth" - FLUX-ETH, "bsc" - Flux-BSC.
      operationId: swapactivechains
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: array
                    description: List of available chains
                    items:
                      type: string
                      description: chain identifier
              example:
                status: success
                data:
                  - main
                  - kda
                  - eth
                  - bsc
                  - sol
                  - trx
  /swap/info:
    get:
      tags:
        - Swap
      summary: Information about Fusion Swap
      description: >-
        Call provides all information needed for user to create Fusion swaps. Provides active chains, coins, confirmations, fees, addresses about Fusion swap.
        This is a prestep before creating reservation or an actual swap
      operationId: swapinfo
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: object
                    description: Information about Fusion Swap
                    properties:
                      chains:
                        type: array
                        description: List of available chains
                        items:
                          type: string
                          description: chain identifier
                      coins:
                        type: array
                        description: >-
                          Information about Flux Fusion coins
                        items:
                          type: object
                          properties:
                            coin:
                              type: string
                              description: Zelcore coin identifier
                            chain:
                              type: string
                              description: Chain on which coin operates
                      confirmations:
                        type: array
                        description: >-
                          Necessary amount of blockchain confirmations for swap to begin for given amount or lower amount.
                          If amount is higher than confirmation amount, swap cannot be processed. Do not send higher amounts than maximum!
                        items:
                          type: object
                          properties:
                            confirmations:
                              type: number
                              description: Required number of confirmations on depositing coin
                            amount:
                              type: number
                              description: Amount per which the required number of confirmations is shown
                      fees:
                        type: object
                        description: Fees information for Fusion services
                        properties:
                          snapshot:
                            type: object
                            description: Fees tied with claiming snapshot
                            properties:
                              percentage:
                                type: number
                                description: >-
                                  Percentage fee from amount. Percentage fee is in absolute value.
                                  To get the percentage fee substracted, multiply percentage with user amount
                                  and round up to higher value.
                              kda:
                                type: number
                                description: >-
                                  Flat Flux-KDA fee for claiming snapshot on KDA chain.
                                  User will receive this amount of Flux-KDA less.
                              eth:
                                type: number
                                description: >-
                                  Flat Flux-ETH fee for claiming snapshot on ETH chain.
                                  User will receive this amount of Flux-ETH less.
                              bsc:
                                type: number
                                description: >-
                                  Flat Flux-BSC fee for claiming snapshot on BSC chain.
                                  User will receive this amount of Flux-BSC less.
                          mining:
                            type: object
                            description: >-
                              Percentage fee from amount. Percentage fee is in absolute value.
                              To get the percentage fee substracted, multiply percentage with user amount
                              and round up to higher value.
                            properties:
                              percentage:
                                type: number
                                description: >-
                                  Percentage fee from amount. Users claimable amount will
                                  firstly be substracted of this amount of percent. Rounded to
                                  higher amount.
                              kda:
                                type: number
                                description: >-
                                  Flat Flux-KDA fee for claiming coinbase on KDA chain.
                                  User will receive this amount of Flux-KDA less.
                              eth:
                                type: number
                                description: >-
                                  Flat Flux-ETH fee for claiming coinbase on ETH chain.
                                  User will receive this amount of Flux-ETH less.
                              bsc:
                                type: number
                                description: >-
                                  Flat Flux-BSC fee for claiming coinbase on BSC chain.
                                  User will receive this amount of Flux-BSC less.
                          swap:
                            type: object
                            description: >-
                              Fees tied with swapping Flux between chains. Receiving (TO) asset is 
                              substracted for the amount. In case of swap from BSC chain to ETH chain,
                              use eth fee as Fusion is sending Flux-ETH and pays Ethereum network fee which is
                              beared by end user by sending less Flux.
                            properties:
                              percentage:
                                type: number
                                description: >-
                                  Percentage fee from amount. Percentage fee is in absolute value.
                                  To get the percentage fee substracted, multiply percentage with user 
                                  sent amount and round up to higher value.
                              kda:
                                type: number
                                description: >-
                                  Flat Flux-KDA fee for swapping to KDA chain.
                                  User will receive this amount of Flux-KDA less.
                              eth:
                                type: number
                                description: >-
                                  Flat Flux-ETH fee for swapping to ETH chain.
                                  User will receive this amount of Flux-ETH less.
                              bsc:
                                type: number
                                description: >-
                                  Flat Flux-BSC fee for swapping to BSC chain.
                                  User will receive this amount of Flux-BSC less.
                              main:
                                type: number
                                description: >-
                                  Flat Flux fee for swapping to Main chain.
                                  User will receive this amount of Flux less.
                      swapAddresses:
                        type: array
                        description: >-
                          Deposit Swap Addressses of Fusion. You will be sending your depositing coin to the following address
                          corresponding to your depositing chain
                        items:
                          type: object
                          properties:
                            chain:
                              type: string
                              description: Chain to which Address/Account belongs to
                            address:
                              type: string
                              description: Address/Account to deposit coins to
              example:
                status: success
                data:
                  chains:
                    - main
                    - kda
                    - eth
                    - bsc
                    - trx
                    - sol
                  coins:
                    - coin: zelcash
                      chain: main
                    - coin: fluxkda
                      chain: kda
                    - coin: fluxeth
                      chain: eth
                    - coin: fluxbsc
                      chain: bsc
                    - coin: fluxtrx
                      chain: bsc
                    - coin: fluxsol
                      chain: bsc
                  confirmations:
                    - confirmations: 4
                      amount: 5000
                    - confirmations: 7
                      amount: 10000
                    - confirmations: 12
                      amount: 25000
                    - confirmations: 20
                      amount: 50000
                    - confirmations: 30
                      amount: 100000
                  fees:   
                    snapshot:
                      percentage: 0
                      kda: 5
                      bsc: 11
                      eth: 141
                      trx: 2
                      sol: 2
                    mining:
                      percentage: 0
                      kda: 5
                      bsc: 11
                      eth: 141
                      trx: 2
                      sol: 2
                    swap:
                      percentage: 0.001
                      premiumPercentage: 0.0002
                      main: 5
                      kda: 5
                      bsc: 11
                      eth: 154
                      trx: 2
                      sol: 2
                  swapAddresses:
                    - chain: main
                      address: t1abAp9oZenibGLFuZKyUjmL6FiATTaCYaj
                    - chain: kda
                      address: fluxswap
                    - chain: eth
                      address: '0x134e4c74c670adefdcb2476df6960d9297bc7dad'
                    - chain: bsc
                      address: '0x9b192227da99b5a50d037b10c965609ed83c43d7'
                    - chain: trx
                      address: 'TA7U2PTnHDyhHBns3X6NsDndjZDBUE3oUa'
                    - chain: sol
                      address: '3q79qsEp9CoCpNE2poy5stVKmXqWruLdwxn5KWNHeUNk'
  /swap/detail:
    get:
      tags:
        - Swap
      summary: Detail of a Swap
      description: >-
        Displays details of supplied swap of Fusion
      operationId: swapdetail
      parameters:
        - in: query
          name: txid
          required: true
          schema:
            type: string
          description: TXID of depositing Fusion Swap transaction
          example: dd22d70eb83c02232de38c2f3daad6d2470334cc4b3ec855fd4d6ac926cbf99b
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: object
                    description: Detail of Swap
                    properties:
                      expectedAmountFrom:
                        type: number
                        description: >-
                          Expected amount that user should deposit
                      expectedAmountTo:
                        type: number
                        description: >-
                          Expected amount that user will receive calculated as expectedAmountFrom - fee where fee is depending on amount.
                      chainFrom:
                        type: string
                        description: >-
                          Chain on which user will deposit coins to, selling chain
                      chainTo:
                        type: number
                        description: >-
                          Chain on which user whishes to receive coins, buying chain
                      addressFrom:
                        type: string
                        description: >-
                          Users depositing address of chainFrom
                      addressTo:
                        type: string
                        description: >-
                          Users receiving address on chainTo
                      txidFrom:
                        type: string
                        description: >-
                          Users depositing transaction ID on chainFrom
                      zelid:
                        type: string
                        description: >-
                          Users Zelid identifier
                      fee:
                        type: number
                        description: >-
                          Actual or expected fee. That amount will be sent less than amountFrom as swaps of Flux are always 1 to 1 rate
                      status: 
                        $ref: '#/components/schemas/exchangestatus'
                      timestamp:
                        type: number
                        description: >-
                          Timestamp of when Swap was created
                      confsRequired:
                        type: number
                        description: >-
                          Confirmations on depositing chain required - depends on amount deposited
                      amountFrom:
                        type: number
                        description: >-
                          Actual amount deposited on chainFrom
                      amountTo:
                        type: number
                        description: >-
                          Actual amount sent or that will be sent on chainTo
                      txidTo:
                        type: string
                        description: >-
                          Transaction ID on receiving chainTo chain - TXID that Fusion sent to user, swap was finished.
              example:
                status: success
                data:
                  expectedAmountFrom: 6.5
                  expectedAmountTo: 2.5
                  chainFrom: main
                  chainTo: kda
                  addressFrom: t1UPSwfMYLe18ezbCqnR5QgdJGznzCUYHkj
                  addressTo: 3a2e6166907d0c2fb28a16cd6966a705de129e8358b9872d9cefe694e910d5b2
                  txidFrom: dd22d70eb83c02232de38c2f3daad6d2470334cc4b3ec855fd4d6ac926cbf99b
                  zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                  fee: 4
                  status: finished
                  timestamp: 1629656716983
                  confsRequired: 3
                  amountFrom: 6.5
                  amountTo: 4.5
                  txidTo: VD2S_KF03zl6oEJHAUf0HYnXaQmTtG_KyxSrHvE-nuM
  /swap/userhistory:
    get:
      tags:
        - Swap
      summary: User history of swaps
      description: >-
        Gets users history of supplied zelid based on zelid header
      operationId: swapuserhistory
      parameters:
        - in: header
          name: zelid
          required: true
          schema:
            type: string
          description: Users ZelID
          example: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: array
                    description: >-
                      User swaps
                    items:
                      type: object
                      description: Detail of Swap
                      properties:
                        expectedAmountFrom:
                          type: number
                          description: >-
                            Expected amount that user should deposit
                        expectedAmountTo:
                          type: number
                          description: >-
                            Expected amount that user will receive calculated as expectedAmountFrom - fee where fee is depending on amount.
                        chainFrom:
                          type: string
                          description: >-
                            Chain on which user will deposit coins to, selling chain
                        chainTo:
                          type: number
                          description: >-
                            Chain on which user whishes to receive coins, buying chain
                        addressFrom:
                           type: string
                           description: >-
                            Users depositing address of chainFrom
                        addressTo:
                          type: string
                          description: >-
                            Users receiving address on chainTo
                        txidFrom:
                          type: string
                          description: >-
                            Users depositing transaction ID on chainFrom
                        zelid:
                          type: string
                          description: >-
                            Users Zelid identifier
                        fee:
                          type: number
                          description: >-
                            Actual or expected fee. That amount will be sent less than amountFrom as swaps of Flux are always 1 to 1 rate
                        status: 
                          $ref: '#/components/schemas/exchangestatus'
                        timestamp:
                          type: number
                          description: >-
                            Timestamp of when Swap was created
                        confsRequired:
                          type: number
                          description: >-
                            Confirmations on depositing chain required - depends on amount deposited
                        amountFrom:
                          type: number
                          description: >-
                            Actual amount deposited on chainFrom
                        amountTo:
                          type: number
                          description: >-
                            Actual amount sent or that will be sent on chainTo
                        txidTo:
                          type: string
                          description: >-
                            Transaction ID on receiving chainTo chain - TXID that Fusion sent to user, swap was finished.
              example:
                status: success
                data:
                  - expectedAmountFrom: 6.5
                    expectedAmountTo: 2.5
                    chainFrom: main
                    chainTo: kda
                    addressFrom: t1UPSwfMYLe18ezbCqnR5QgdJGznzCUYHkj
                    addressTo: 3a2e6166907d0c2fb28a16cd6966a705de129e8358b9872d9cefe694e910d5b2
                    txidFrom: dd22d70eb83c02232de38c2f3daad6d2470334cc4b3ec855fd4d6ac926cbf99b
                    zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                    fee: 4
                    status: finished
                    timestamp: 1629656716983
                    confsRequired: 3
                    amountFrom: 6.5
                    amountTo: 4.5
                    txidTo: VD2S_KF03zl6oEJHAUf0HYnXaQmTtG_KyxSrHvE-nuM
                  - expectedAmountFrom: 62345.94645588
                    expectedAmountTo: 62279.94645588
                    chainFrom: eth
                    chainTo: main
                    addressFrom: '0xaccad76546ce0500ebc07b4d298608b8e94899e2'
                    addressTo: t1a7jWp5uy6SZwApWt9XB4gKjQmwzxGqwdq
                    txidFrom: '0x4265042b38170f89204bf597c391a3a6d1b1e0dd826cc33a1f4dd02dcd08219a'
                    zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                    fee: 66
                    status: finished
                    timestamp: 1629662076045
                    confsRequired: 30
                    amountFrom: 62345.94645588
                    amountTo: 62279.94645588
                    txidTo: e59dacebcc648da2d025df2308c1b69b0c85686402a94b282dde31b7243679fa
  /swap/reserve:
    post:
      tags:
        - Swap
      summary: Reserve swap
      description: >
        Reservation of swap is highly recommended for every Swap you want to make. You should tell Fusion that some incoming swap
        including particular chains and addresses will be happening. This step will trigger additional checks on the actual swap creation.
        Apart from body request, it is also recommended to send zelid header as another security measure and for order history tracking.
      operationId: swapreserve
      parameters:
        - in: header
          name: zelid
          required: false
          schema:
            type: string
          description: Users ZelID
          example: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chainFrom:
                  type: string
                  description: Chain from which you will be depositing to Fusion (selling coin)
                chainTo:
                  type: string
                  description: Chain on which you want to buy, receive from Fusion (buying coin)
                addressFrom:
                  type: string
                  description: Address from which you will be depositing, selling coins
                addressTo:
                  type: string
                  description: Address to which Fusion will send you your coins, your receiving address on chainTo.
            example:
              chainFrom: eth
              chainTo: main
              addressFrom: '0xaccad76546ce0500ebc07b4d298608b8e94899e2'
              addressTo: t1a7jWp5uy6SZwApWt9XB4gKjQmwzxGqwdq
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: object
                    description: Confirmation of reservation providing supplied data
                    properties:
                      chainFrom:
                        type: string
                        description: >-
                          User supplied chainFrom on which user will be sending funds
                      chainTo:
                        type: string
                        description: >-
                          User supplied chainTo on which user will be getting funds
                      addressFrom:
                        type: string
                        description: >-
                          User supplied addressFrom from which user will be sending funds
                      addressTo:
                        type: string
                        description: >-
                          User supplied addressTo to which user will be receiving funds
                      zelid:
                        type: string
                        description: Received zelid of user from header
                      createdAt:
                        type: string
                        description: Date of when swap was created
              example:
                status: success
                data:
                  chainFrom: eth
                  chainTo: main
                  addressFrom: '0xaccad76546ce0500ebc07b4d298608b8e94899e2'
                  addressTo: t1a7jWp5uy6SZwApWt9XB4gKjQmwzxGqwdq
                  zelid: 1K6nyw2VjV6jEN1f1CkbKn9htWnYkQabbR
                  createdAt: '2021-09-12T09:36:11.129Z'
  /swap/create:
    post:
      tags:
        - Swap
      summary: Create swap
      description: >
        Create a swap from given parameters. Depositing transaction id is then used as identifier for a swap.
        Apart from body request, it is also recommended to send zelid header as another security measure and for order history tracking.
      operationId: swapcreate
      parameters:
        - in: header
          name: zelid
          required: false
          schema:
            type: string
          description: Users ZelID
          example: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amountFrom:
                  type: number
                  description: Amount that you are sending for swapping
                chainFrom:
                  type: string
                  description: Chain from which you are depositing to Fusion (selling coin)
                chainTo:
                  type: string
                  description: Chain on which you are buying, receiving from Fusion (buying coin)
                addressFrom:
                  type: string
                  description: Address from which you are depositing, selling coins
                addressTo:
                  type: string
                  description: Address to which Fusion will send you your coins, your receiving address on chainTo.
                txidFrom:
                  type: string
                  description: Transaction ID of your deposit to Fusion Swap.
            example:
              amountFrom: 631.625
              chainFrom: eth
              chainTo: main
              addressFrom: '0xaccad76546ce0500ebc07b4d298608b8e94899e2'
              addressTo: t1a7jWp5uy6SZwApWt9XB4gKjQmwzxGqwdq
              txidFrom: '0x7c29c30573a1205a851b7d47c504959a66b7045f9d8dfcd83322a11bc74c323a'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/status"
                  data:
                    type: object
                    description: Successful swap creation data
                    properties:
                      chainFrom:
                        type: string
                        description: >-
                          User supplied chainFrom on which user is sending funds
                      chainTo:
                        type: string
                        description: >-
                          User supplied chainTo on which user will be getting funds
                      addressFrom:
                        type: string
                        description: >-
                          User supplied addressFrom from which user is sending funds
                      addressTo:
                        type: string
                        description: >-
                          User supplied addressTo to which user will be receiving funds
                      zelid:
                        type: string
                        description: Received zelid of user from header
                      txidFrom:
                        type: string
                        description: >-
                          Users depositing transaction ID on chainFrom
                      fee:
                        type: number
                        description: >-
                          Expected fee based on chain and user supplied amountFrom
                      status: 
                        type: string
                        description: Status of swap. Always new for newly created swaps
                      expectedAmountFrom:
                        type: number
                        description: >-
                          Expected amount that user is depositing - suplpied from amountFrom
                      expectedAmountTo:
                        type: number
                        description: >-
                          Expected amount that user will receive calculated as expectedAmountFrom - fee where fee is depending on chain and supplied amountFrom.
                      confsRequired:
                        type: number
                        description: >-
                          Expected number of confirmation your deposit transaction will need to have. Based on amountFrom and chain.
                          May also change if actual deposited funds are different than user supplied amountFrom
              example:
                status: success
                data:
                  chainFrom: eth
                  chainTo: main
                  addressFrom: '0xaccad76546ce0500ebc07b4d298608b8e94899e2'
                  addressTo: t1a7jWp5uy6SZwApWt9XB4gKjQmwzxGqwdq
                  zelid: 1K6nyw2VjV6jEN1f1CkbKn9htWnYkQabbR
                  timestamp: 1631439372297
                  expectedAmountFrom: 631.625
                  expectedAmountTo: 625.625
                  txidFrom: '0x7c29c30573a1205a851b7d47c504959a66b7045f9d8dfcd83322a11bc74c323a'
                  fee: 6
                  confsRequired: 4
components:
  schemas:
    signature:
      description: Signature of signed messagePhrase.
      type: string
      example: >-
        H+ZB3oSrsw6XkBxxlbwk33LEBJYvqtbMIm2kL9JzuoXMC6pSZd0lBHdnhJYzMTXv81zZQ7G/pkK1NvYN7cNF0GE=
    ErrorMessage:
      type: object
      properties:
        status:
          type: string
          description: error
        data:
          type: object
          properties:
            code:
              type: string
              description: code of error
            name:
              type: string
              description: name of error
            message:
              type: string
              description: message of error
    status:
      type: string
      description: Explanation of status
      enum:
        - success
        - error
    chain:
      type: string
      description: Chain of particular asset to further identify where an asset exists
      enum:
        - main
        - eth
        - bsc
        - kda
        - trx
        - sol
    exchangestatus:
      type: string
      description: >-
        Status of an exchange.
        New - for new exchange.
        Waiting - awaiting deposit of funds. 
        Confirming - picking confirmations on deposit of funds.
        Exchanging - funds are being exchanged and buy coin is sending.
        Finished - exchange is comepleted.
        Expired - Funds were not received in time. 
        Hold - ecxhange is holding the funds mostly due to KYC reasons.
        Dust - received amount is below fusion fees. Swap is finished, 0 assets sent.
      enum:
        - new
        - waiting
        - confirming
        - exchanging
        - finished
        - hold
        - expired
        - dust
  headers:
    zelid:
      description: ZelID header
      schema:
        type: string
